# <font color = "red">Classificação de Risco de Crédito</font>

## Uma análise Comparativa Para Prever Inadimplência 

<font color = "red">Problema de Negócio:</font> A partir de dados históricos, irei verificar os padrões que levaram os clientes de uma instituição financeira, a adentrarem, ou não, na situação de inadimplência, para posteriormente criar um

In [2]:
# Imports 
import pandas as pd
import numpy as np

In [3]:
df_original = pd.read_csv("C:/Projetos Pessoais/DataScience/analise_Risco_Credito/data/risco_credito_original.csv")

In [4]:
df_original.columns

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [5]:
df_original.shape

(32581, 12)

In [6]:
df_original.sample(10)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
15284,23,129996,MORTGAGE,2.0,VENTURE,B,30000,11.11,0,0.23,N,4
30357,41,30600,RENT,0.0,DEBTCONSOLIDATION,B,6500,10.65,0,0.21,N,12
18914,33,80000,RENT,5.0,PERSONAL,B,1800,10.75,0,0.02,N,7
28068,33,21600,RENT,2.0,DEBTCONSOLIDATION,C,6500,NaN,0,0.30,Y,5
22280,32,54000,MORTGAGE,6.0,EDUCATION,A,4800,NaN,0,0.09,N,7
6645,26,50000,MORTGAGE,9.0,DEBTCONSOLIDATION,A,10000,NaN,0,0.20,N,3
17725,26,46000,RENT,4.0,DEBTCONSOLIDATION,A,9000,7.14,0,0.20,N,3
5792,23,19136,RENT,4.0,EDUCATION,E,5500,17.93,1,0.29,Y,3
104,23,83000,RENT,7.0,EDUCATION,B,25300,10.99,1,0.30,N,3
26630,32,108202,MORTGAGE,6.0,MEDICAL,C,9600,13.79,0,0.09,Y,6

In [8]:
df_original.person_home_ownership.unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [6]:
df_original.loan_status.value_counts()

loan_status
0    25473
1     7108
Name: count, dtype: int64

In [ ]:
personagem	Idade
pessoa_renda	Renda Anual
pessoa_propriedade_de_casa	Propriedade da casa
pessoa_emp_length	Duração do emprego (em anos)
intenção_de_empréstimo	Intenção de empréstimo
grau_de_empréstimo	Grau de empréstimo
valor_emprestado	Valor do empréstimo
taxa_interna_empréstimo	Taxa de juro
status_do_empréstimo	Status do empréstimo (0 é não inadimplente, 1 é inadimplente)
renda_porcentagem_empréstimo	Renda percentual
cb_pessoa_padrão_em_arquivo	Inadimplência histórica
cb_preson_cred_hist_length	Duração do histórico de crédito